<%- include("partials/header.ejs"); -%>

<!-- Home Heading -->
<h1>Home</h1>
<p><%=homep%></p>

<!-- Posts -->
<!-- <%for(let i=0;i<posts.length;i++){%>
    <h1><%=posts[i].postTitle%></h1>
    <p><%=posts[i].postBody%></p>
<%}%> -->

<!-- new method for for loop -->
<%posts.forEach(function(eachpost){ let posturl = "/posts/"+lodash.camelCase(eachpost.postTitle); %>
    <h1><%=eachpost.postTitle%></h1>
    <p ><%=eachpost.postBody.substring(0,100)%> ... <a href=<%=posturl%>>Read More</a></p>
<%})%>


<%- include("partials/footer.ejs"); -%>
