<%-include("header")-%>


  <!-- <% %> for line by line javascript for only conditional - if else while switch -->
  <!-- <%= %> for html-->
  <!-- <% if(listTitle==='Saturday' || listTitle==='Sunday'){ %>
    <h1 style="color: blue">This is <%=listTitle%> !</h1>
    <% } else{ %>
    <h1 style="color: red">This is <%=listTitle%> !</h1>
    <% } %> -->

  <div class="box" id="heading">
    <h1>
      <%=listTitle%>
    </h1>

  </div>

  <div class="box">
    <%for(var i=0;i<newListitems.length;i++){%>
      <div class="item">
        <input type="checkbox">
        <p>
          <%=newListitems[i]%>
        </p>

      </div>
      <%}%>
        <form class="item" action="/" method="post">
          <input type="text" placeholder="New Item" name="newitem" autocomplete="off" />
          <button type="submit" name="btn" value="<%=listTitle%>">+</button>
        </form>
  </div>

<%-include("footer")-%>
